In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
print('Welcome to new file')

Welcome to new file

In [4]:
print(2+3+2)

7

In [5]:
print(6-2)

4

In [6]:
# if then else elif end do while loop exec  class

In [7]:
# control statements:

# check for any condition and take required actions


# 

"""
Multiline comments
"""

'\nMultiline comments\n'

In [8]:
#if (condition is true):
# perform business logic
#else:
# perform alternate business logic
# end:

# each python code ends with :

In [10]:
input_marks_passed_out = 35

if input_marks_passed_out >= 60:
    print("Welcome to First class")
else:
    print("Welcome to second class ")

Welcome to second class

In [15]:
input_marks_passed_out = 50

if input_marks_passed_out >= 60:
    print("Welcome to First class")
elif input_marks_passed_out < 60 and input_marks_passed_out >= 45:
    print("Welcome to second class ")
elif input_marks_passed_out < 44 and input_marks_passed_out >= 35:
    print("Welcome to Third class")
else:
    print("Failed: Did not meet success criteria")

Welcome to second class

In [17]:
age_para_1 = 50
age_para_2 = 100

if (age_para_2-age_para_1) <= 10:
    print('Age difference is less than 10')
else:
    print('Age difference is greater than 10')

Age difference is greater than 10

In [21]:
# different data types in python


# boolean: True, False

# int, double: 234, 4555000

# string, char: "Welcome", "C"

# float: 2233.22


eligibility_criteria = False

# usage of boolean variables along with if else statements
if (eligibility_criteria):
    print('You are eligible to participate in the competition')
else:
    print('No, please try later')

No, please try later

In [22]:
if (234/23 < 0.05):
    print('Division value is less than 0.05')
else:
    print('Division value is greater than 0.05')

Division value is greater than 0.05

In [9]:
first_name = "John"
last_name = "David"

input_number = 0

if (first_name != ''):
    print('Your first name is: ', first_name)
    print('Your last name is: ', last_name)
    
    while(input_number < 5):
        print('input_number is: ', input_number)
        input_number +=1
else:
    print('Your last name is: ', last_name)
    print('I am in else block')
    
print('Valid Indentation')

Your first name is:  John
Your last name is:  David
input_number is:  0
input_number is:  1
input_number is:  2
input_number is:  3
input_number is:  4
Valid Indentation

In [ ]:
# install anacode package : 
# select required OS based on your system
# start Jupyter notebook

In [1]:
print("welcome")

welcome

In [10]:
# python <<filename>>

# python Python_base_demo_1.py


# +, -, <, > != == <= >= and or 


#
#
#

"""
Multiline docstring
"""

'\nMultiline docstring\n'

In [14]:
first_name = "John"
last_name = "David"

roll_number = 2020

In [15]:
print("Full name: ", first_name+" "+ last_name)

Full name:  John David

In [20]:
print("Name with Roll number: ", first_name + " " +  str(roll_number))

Name with Roll number:  John 2020

In [21]:
print("Data type of a variable ", type(roll_number))

Data type of a variable  <class 'int'>

In [22]:
# Python : Variable names are case-sensitive 

first_variable = "One"
First_Variable = "One One"

In [24]:
print(" first_variable : ", first_variable)
print(" First_Variable : ", First_Variable)

 first_variable :  One
 First_Variable :  One One

In [25]:
# It should not start with numericals

# Camel case, Snake case

First_name_1 = First_name_2 = First_name_3 = "John"

In [26]:
print(First_name_1, First_name_2, First_name_3)

John John John

In [27]:
# Collection data types:  List, Set, Dictionary, Tuple

In [36]:
# scope of a variables: 

# Global, Local 


first_name = "John"
last_name = "David"

global j
input_number = 0

j = 1

if (first_name == ''):
    print('Your first name is: ', first_name)
    print('Your last name is: ', last_name)
    
    while(input_number < 5):
        j +=1
        print('input_number is: ', input_number)
        print('local number value is: ', j)
        input_number +=1
        
else:
    print('Your last name is: ', last_name)
    print('I am in else block')
    
print('local number value is: ', j)

Your last name is:  David
I am in else block
local number value is:  1

In [37]:
# **  +, -, *, /, 

# x = x+5,  x += 5

# comparison operators,  ==, >, <, equal ==, !=

# logic operations:  and, or, not

# x**n,  2**3, 3**4

# membership operators:  in, not in  

# bitwise operators:  & (and), ~ (not), ^ (xor), | (or)

print (2**3)

8

In [38]:
# Collection data types:  List, Set, Dictionary, Tuple

In [39]:
# List Items: ordered, changeable, allows duplicate values


city_names = ['Bangalore', 'Chennai', 'Mumbai', 'Delhi']

In [40]:
print(city_names)

['Bangalore', 'Chennai', 'Mumbai', 'Delhi']

In [41]:
print(city_names[0])

Bangalore

In [42]:
print(len(city_names))

4

In [44]:
print('list last index value : ', len(city_names)-1)
print(city_names[len(city_names)-1])

list last index value :  3
Delhi

In [45]:
city_rank = [1,2,3,4]

print(city_rank)

[1, 2, 3, 4]

In [46]:
mixed_list = ['Bangalore', 'Chennai', 'Mumbai', 'Delhi', 1,2,3,4, True, False, True, 29.2]

In [47]:
print(mixed_list)

['Bangalore', 'Chennai', 'Mumbai', 'Delhi', 1, 2, 3, 4, True, False, True, 29.2]

In [48]:
print(len(mixed_list))

12

In [49]:
print(type(mixed_list))

<class 'list'>

In [50]:
# indexing

# positive index : from first to last

# negative index : from last  to first 

display(mixed_list[1])

display(mixed_list[-1])

'Chennai'

29.2

In [51]:
# range of indexes
# notation ->  start index : end index

print(mixed_list[1:3])

['Chennai', 'Mumbai']

In [53]:
print(mixed_list[3:-1])

['Delhi', 1, 2, 3, 4, True, False, True]

In [55]:
index_info = 0
for data_value in mixed_list:
    index_info +=1
    if index_info > 3:
        print(data_value)

Delhi
1
2
3
4
True
False
True
29.2

In [57]:
# data exists in the list

city_name = "Mumbai-1"

if city_name in mixed_list:
    print("City ", city_name , ' Exists in the list of values')

In [60]:
# example of changing list values: 

mixed_list = ['Bangalore', 'Chennai', 'Mumbai', 'Delhi', 1,2,3,4, True, False, True, 29.2]

print('Total size of the list - before: ', len(mixed_list))

print('Value at 3rd index: ', mixed_list[3])

mixed_list = ['Bangalore', 'Chennai', 'Mumbai', 2,3,4, True, 'Delhi', 29.2]

print('Total size of the list - After modification: ', len(mixed_list))

print('Value at 3rd index: ', mixed_list[3])

Total size of the list - before:  12
Value at 3rd index:  Delhi
Total size of the list - After modification:  9
Value at 3rd index:  2

In [61]:
mixed_list.insert(3, "Kolkata")

In [62]:

print('Total size of the list - After modification: ', len(mixed_list))

print('Value at 3rd index: ', mixed_list[3])

Total size of the list - After modification:  10
Value at 3rd index:  Kolkata

In [63]:
print('Welcome to addition of elements to list')

mixed_list.append("Hyderabad")

Welcome to addition of elements to list

In [64]:
print('Total size of the list - After modification: ', len(mixed_list))

Total size of the list - After modification:  11

In [65]:
print(mixed_list)

['Bangalore', 'Chennai', 'Mumbai', 'Kolkata', 2, 3, 4, True, 'Delhi', 29.2, 'Hyderabad']

In [ ]:
# List Items: ordered, changeable, allows duplicate values

# 

# Set is completely opposite to List

# unordered, unchangeable, Dupes not allowed

In [2]:
country_set = {'India', 'Nepal', 'Dubai', 'USA', 'England'}

In [3]:
print(country_set)

{'Nepal', 'England', 'Dubai', 'India', 'USA'}

In [4]:
print(type(country_set))

<class 'set'>

In [35]:
country_set_1 = set(('China', 'France', 'Russia'))

In [36]:
print(country_set_1)

{'China', 'France', 'Russia'}

In [9]:
for country_name in country_set:
    print('country_name is : ', country_name)

country_name is :  Nepal
country_name is :  England
country_name is :  Dubai
country_name is :  India
country_name is :  USA
country_name is :  Australia

In [8]:
country_set.add("Australia")

In [10]:
# update feature to update the set values

# remove function

country_set.remove("Dubai")

In [14]:
for country_name in country_set:
    print('country_name is : ', country_name)

country_name is :  Australia
country_name is :  India
country_name is :  Nepal
country_name is :  USA
country_name is :  England

In [11]:
# If value doesn't exist, it won't throw any error
country_set.discard("Dubai")

In [12]:
# if value doesn't exist, it will throw an error
country_set.remove("Dubai")

KeyError: 'Dubai'

In [13]:
country_set_new = country_set.union(country_set_1)

In [14]:
print(country_set_new)

{'Nepal', 'England', 'USA', 'Australia', 'China', 'Russia', 'France', 'India'}

In [15]:
country_set.update(country_set_1)

In [16]:
print(country_set)

{'Nepal', 'England', 'India', 'Russia', 'USA', 'Australia', 'China', 'France'}

In [17]:
# update : 

print(len(country_set))

8

In [37]:
print(len(country_set_1))

3

In [38]:
country_set_2 = {'Abu Dhabi', 'England', 'France', 'Spain'}

In [39]:
print(len(country_set_2))

4

In [40]:
print(country_set_1)

{'China', 'France', 'Russia'}

In [41]:
country_set_1.update(country_set_2)

In [42]:
print(country_set_1)

{'Abu Dhabi', 'England', 'Spain', 'China', 'France', 'Russia'}

In [43]:
print(country_set_1)

{'Abu Dhabi', 'England', 'Spain', 'China', 'France', 'Russia'}

In [26]:
print(len(country_set_1))

6

In [27]:
print(4+3-1)

6

In [28]:
# remove the elements from Set
# discard(), remove()
# pop()

In [29]:
print(country_set_1)

{'Abu Dhabi', 'England', 'Spain', 'China', 'France', 'Russia'}

In [31]:
last_element_from_country_set_1 = country_set_1.pop()

In [32]:
print(country_set_1)

{'England', 'Spain', 'China', 'France', 'Russia'}

In [33]:
# delete the collection object/set
# del   ----> deletes complete object
# clear ---> clear the elements of object

del country_set_1

In [34]:
print(country_set_1)

NameError: name 'country_set_1' is not defined

In [44]:
print(country_set_1)

{'Abu Dhabi', 'England', 'Spain', 'China', 'France', 'Russia'}

In [45]:
country_set_1.clear()

In [46]:
print(country_set_1)

set()

In [47]:
print(country_set)

{'England', 'India', 'Russia', 'USA', 'Australia', 'China', 'France'}

In [48]:
print(country_set_2)

{'Abu Dhabi', 'England', 'France', 'Spain'}

In [49]:
# intersection_update()

country_set_2.update(country_set)

In [50]:
print(country_set_2)

{'England', 'China', 'India', 'Russia', 'USA', 'Australia', 'Abu Dhabi', 'France', 'Spain'}

In [51]:
country_set_1 = {'England', 'India', 'Russia', 'USA', 'Australia', 'China', 'France'}

In [52]:
print(country_set_1)

{'England', 'Russia', 'India', 'USA', 'Australia', 'China', 'France'}

In [53]:
country_set_3 = {'Abu Dhabi', 'England', 'France', 'Spain'}

In [54]:
print(country_set_3)

{'Abu Dhabi', 'England', 'France', 'Spain'}

In [55]:
print(len(country_set_3))

4

In [56]:
print(len(country_set_1))

7

In [57]:
country_set_3.intersection_update(country_set_1)

In [58]:
print(country_set_3)

{'England', 'France'}

In [59]:
country_set_4 = {'Abu Dhabi', 'England', 'France', 'Spain'}

In [60]:
print(country_set_4)

{'Abu Dhabi', 'England', 'France', 'Spain'}

In [61]:
print(country_set_1)

{'England', 'Russia', 'India', 'USA', 'Australia', 'China', 'France'}

In [62]:
country_set_4.intersection(country_set_1)

{'England', 'France'}

In [63]:
print(country_set_4)

{'Abu Dhabi', 'England', 'France', 'Spain'}

In [64]:
# symmetric_difference
# symmetric_difference_update()

In [65]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [66]:
# JSON, XML Format ---> Key & Value

# Dictionary :  key, value based representation


# unordered, changeable and no dupes

In [69]:
my_dict = {"Key_1":"Value_1",
           "Key_2":"Value_2",
           "Key_3":"Value_3"
          }

In [70]:
print(my_dict)

{'Key_1': 'Value_1', 'Key_2': 'Value_2', 'Key_3': 'Value_3'}

In [72]:
print(my_dict["Key_1"])

Value_1

In [73]:
print(my_dict["Key_2"])

Value_2

In [74]:
my_dict_1 = {"Key_1":"Value_1",
           "Key_2":"Value_2",
           "Key_3":"Value_2"
          }

In [75]:
my_dict_1["Key_2"]

'Value_2'

In [76]:
my_dict_1["Key_3"]

'Value_2'

In [114]:
# it contains mixture of the data. 


student_info = {
    "stu_name":"John",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":60,
    "stu_sub_1_pass_status":True
}

In [81]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 60, 'stu_sub_1_pass_status': True}

In [82]:
student_info.get("stu_name")

'John'

In [83]:
print(student_info.keys())

dict_keys(['stu_name', 'stu_grade', 'stu_sub_1', 'stu_sub_1_marks', 'stu_sub_1_pass_status'])

In [84]:
student_info["stu_sub_1_marks"] = 80

In [85]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True}

In [86]:
print(student_info.values())

dict_values(['John', '10', 'English', 80, True])

In [87]:
student_info.get("student_info_1")

In [88]:

for stu_details in student_info:
    print(stu_details)

stu_name
stu_grade
stu_sub_1
stu_sub_1_marks
stu_sub_1_pass_status

In [94]:
for stu_details in student_info:
    print(' Key name is: ', stu_details, ' : Value is : ', student_info[stu_details])

 Key name is:  stu_name  : Value is :  John
 Key name is:  stu_grade  : Value is :  10
 Key name is:  stu_sub_1  : Value is :  English
 Key name is:  stu_sub_1_marks  : Value is :  80
 Key name is:  stu_sub_1_pass_status  : Value is :  True
 Key name is:  stu_sub_2  : Value is :  Mathematics

In [91]:
#for stu_details in student_info:
if "my_new_key" in student_info:
    print(' Key name is: ', stu_details, ' : Value is : ', student_info[stu_details])

In [92]:
if "stu_sub_1_marks" in student_info:
    print(' Key name is: ', stu_details, ' : Value is : ', student_info[stu_details])

 Key name is:  stu_sub_1_pass_status  : Value is :  True

In [93]:
student_info.update({"stu_sub_2": "Mathematics"})

In [95]:
student_info.update({"stu_sub_2_marks": "90", "stu_sub_2_pass_status": True})

In [96]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True, 'stu_sub_2': 'Mathematics', 'stu_sub_2_marks': '90', 'stu_sub_2_pass_status': True}

In [97]:
student_info["stu_sub_2_marks"]=70

In [98]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True, 'stu_sub_2': 'Mathematics', 'stu_sub_2_marks': 70, 'stu_sub_2_pass_status': True}

In [99]:
student_info.pop("stu_sub_2_pass_status")

True

In [100]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True, 'stu_sub_2': 'Mathematics', 'stu_sub_2_marks': 70}

In [101]:
print(len(student_info))

7

In [102]:
for my_keys in student_info.keys():
    print('key name is: ', my_keys)

key name is:  stu_name
key name is:  stu_grade
key name is:  stu_sub_1
key name is:  stu_sub_1_marks
key name is:  stu_sub_1_pass_status
key name is:  stu_sub_2
key name is:  stu_sub_2_marks

In [103]:
# items() used to get both key , value

for my_key, my_value in student_info.items():
    print(my_key, my_value)

stu_name John
stu_grade 10
stu_sub_1 English
stu_sub_1_marks 80
stu_sub_1_pass_status True
stu_sub_2 Mathematics
stu_sub_2_marks 70

In [104]:
print(len(student_info))

7

In [105]:
my_new_student_info = student_info.copy()

In [106]:
print(my_new_student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True, 'stu_sub_2': 'Mathematics', 'stu_sub_2_marks': 70}

In [108]:
# nested dictionary objects

my_class_info = {
    "student_info_1" : {
    "stu_name":"John",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":60,
    "stu_sub_1_pass_status":True
    },
    
    "student_info_2" : {
    "stu_name":"Ram",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":70,
    "stu_sub_1_pass_status":True
    },
    
    "student_info_3" : {
    "stu_name":"Sri",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":76,
    "stu_sub_1_pass_status":True
    }
    
}

In [109]:
print(my_class_info)

{'student_info_1': {'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 60, 'stu_sub_1_pass_status': True}, 'student_info_2': {'stu_name': 'Ram', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 70, 'stu_sub_1_pass_status': True}, 'student_info_3': {'stu_name': 'Sri', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 76, 'stu_sub_1_pass_status': True}}

In [110]:
# delete a key: 

print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 80, 'stu_sub_1_pass_status': True, 'stu_sub_2': 'Mathematics', 'stu_sub_2_marks': 70}

In [113]:
del student_info

In [115]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 60, 'stu_sub_1_pass_status': True}

In [116]:
del student_info["stu_sub_1_pass_status"]

In [117]:
print(student_info)

{'stu_name': 'John', 'stu_grade': '10', 'stu_sub_1': 'English', 'stu_sub_1_marks': 60}

In [118]:
# removing based on key or complete pair
# pop, popitem

In [119]:
# Tuple collection object

In [120]:
# Ordered 
# Non modifiable

In [121]:
# {} [] ()

country_tuple_1 = ('England', 'India', 'Russia', 'USA', 'Australia', 'China', 'France')

In [122]:
print(country_tuple_1)

('England', 'India', 'Russia', 'USA', 'Australia', 'China', 'France')

In [123]:
print(country_tuple_1[0])

England

In [124]:
print(country_tuple_1[5])

China

In [125]:
print(type(country_tuple_1))

<class 'tuple'>

In [126]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [127]:
"""

   "student_info_2" : {
    "stu_name":"Ram",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":70,
    "stu_sub_1_pass_status":True
    }
    
"""

student_info_tuple_1 = ("Ram", "10", "English", 70, True)

In [128]:
print(student_info_tuple_1)

('Ram', '10', 'English', 70, True)

In [129]:
# tuple constructor

In [130]:
"""

    "student_info_3" : {
    "stu_name":"Sri",
    "stu_grade":"10",
    "stu_sub_1":"English",
    "stu_sub_1_marks":76,
    "stu_sub_1_pass_status":True
    }
"""


student_info_tuple_2 = tuple(("Sri", "10", "English", 76, True))

In [131]:
print(student_info_tuple_2)

('Sri', '10', 'English', 76, True)

In [134]:
display(student_info_tuple_2[-1])

True

In [135]:
display(student_info_tuple_2[0])

'Sri'

In [136]:
display(student_info_tuple_2[1:3])

('10', 'English')

In [ ]:
# 1. sort out LMS issues
# 2. Assignments

# Training Schedule:
# Monday, Wednesday, Friday, Saturday
# 9:30 am TO 11:30 am IST
# 3 TO 4 Lab.

In [1]:
# for & While 

# for loop 3 importants params:    initialization,  condition and increment

# initialization :  value can start from 0 to any other value

In [2]:
# for & While 

# for loop 3 importants params:    initialization,  condition and increment

# initialization :  value can start from 0 to any other value


for i in range(25):
    print('The value of i is: ', i)

The value of i is:  0
The value of i is:  1
The value of i is:  2
The value of i is:  3
The value of i is:  4
The value of i is:  5
The value of i is:  6
The value of i is:  7
The value of i is:  8
The value of i is:  9
The value of i is:  10
The value of i is:  11
The value of i is:  12
The value of i is:  13
The value of i is:  14
The value of i is:  15
The value of i is:  16
The value of i is:  17
The value of i is:  18
The value of i is:  19
The value of i is:  20
The value of i is:  21
The value of i is:  22
The value of i is:  23
The value of i is:  24

In [3]:
# how to terminate the loops:

# it could be 2 ways :   if we met our scenarios, we can come out of the loop
# break : forcibly


for student_roll_no in range(50):
    if student_roll_no > 30:
        print('Enroll into new course : student_roll_no : ', student_roll_no)

Enroll into new course : student_roll_no :  31
Enroll into new course : student_roll_no :  32
Enroll into new course : student_roll_no :  33
Enroll into new course : student_roll_no :  34
Enroll into new course : student_roll_no :  35
Enroll into new course : student_roll_no :  36
Enroll into new course : student_roll_no :  37
Enroll into new course : student_roll_no :  38
Enroll into new course : student_roll_no :  39
Enroll into new course : student_roll_no :  40
Enroll into new course : student_roll_no :  41
Enroll into new course : student_roll_no :  42
Enroll into new course : student_roll_no :  43
Enroll into new course : student_roll_no :  44
Enroll into new course : student_roll_no :  45
Enroll into new course : student_roll_no :  46
Enroll into new course : student_roll_no :  47
Enroll into new course : student_roll_no :  48
Enroll into new course : student_roll_no :  49

In [4]:


for student_roll_no in range(50):
    print(' Student roll no : ', student_roll_no)
    if student_roll_no > 30:
        break

 Student roll no :  0
 Student roll no :  1
 Student roll no :  2
 Student roll no :  3
 Student roll no :  4
 Student roll no :  5
 Student roll no :  6
 Student roll no :  7
 Student roll no :  8
 Student roll no :  9
 Student roll no :  10
 Student roll no :  11
 Student roll no :  12
 Student roll no :  13
 Student roll no :  14
 Student roll no :  15
 Student roll no :  16
 Student roll no :  17
 Student roll no :  18
 Student roll no :  19
 Student roll no :  20
 Student roll no :  21
 Student roll no :  22
 Student roll no :  23
 Student roll no :  24
 Student roll no :  25
 Student roll no :  26
 Student roll no :  27
 Student roll no :  28
 Student roll no :  29
 Student roll no :  30
 Student roll no :  31

In [5]:
#while loop

#while (condition):
#    loop logic

In [6]:
"""
while (condition met to true):
    print('Infinite loop')
    
"""

"\nwhile (condition met to true):\n    print('Infinite loop')\n    \n"

In [8]:
roll_no = 20

while roll_no < 50:
    print('Generate roll no : ', roll_no)
    roll_no += 1

Generate roll no :  20
Generate roll no :  21
Generate roll no :  22
Generate roll no :  23
Generate roll no :  24
Generate roll no :  25
Generate roll no :  26
Generate roll no :  27
Generate roll no :  28
Generate roll no :  29
Generate roll no :  30
Generate roll no :  31
Generate roll no :  32
Generate roll no :  33
Generate roll no :  34
Generate roll no :  35
Generate roll no :  36
Generate roll no :  37
Generate roll no :  38
Generate roll no :  39
Generate roll no :  40
Generate roll no :  41
Generate roll no :  42
Generate roll no :  43
Generate roll no :  44
Generate roll no :  45
Generate roll no :  46
Generate roll no :  47
Generate roll no :  48
Generate roll no :  49

In [9]:
temp = 15
while temp <= 50:
    temp +=2
    if temp > 20 and temp < 30:
        print('We are into normal temperate range oC')

We are into normal temperate range oC
We are into normal temperate range oC
We are into normal temperate range oC
We are into normal temperate range oC
We are into normal temperate range oC

In [11]:
temp = 15
while temp <= 50:
    temp +=2
    if temp > 20 and temp < 30:
        print('We are into normal temperate range oC', temp)
        break

We are into normal temperate range oC 21

In [ ]:
# continue vs break

#keyword continue

In [1]:
# avoid duplicate effort
# promote reusability
# improve efficiency
# Version control system - Promote multi user development environment

In [2]:
# Capturing user input dynamically

input_num = input("Enter input information")

Enter input information20

In [3]:
print(' User entered input value is: ', input_num)

 User entered input value is:  20

In [7]:
tmp_num = 2

while int(input_num) < 30:
    tmp_num += 1
    print("Welcome to number increment while loop example : ", tmp_num)
    if tmp_num < 15:
        continue
    else:
        break

Welcome to number increment while loop example :  3
Welcome to number increment while loop example :  4
Welcome to number increment while loop example :  5
Welcome to number increment while loop example :  6
Welcome to number increment while loop example :  7
Welcome to number increment while loop example :  8
Welcome to number increment while loop example :  9
Welcome to number increment while loop example :  10
Welcome to number increment while loop example :  11
Welcome to number increment while loop example :  12
Welcome to number increment while loop example :  13
Welcome to number increment while loop example :  14
Welcome to number increment while loop example :  15

In [12]:
# def keyword to define a function


def sum_of_given_nos(num1, num2):
    output_num = num1 + num2
    return output_num

In [11]:
def sum_of_given_no1(num1):
    return num1

In [13]:
sum_of_given_nos(2,3)

5

In [14]:
def area_calc(height_1, width_1):
    area_of_object = (1/2)*height_1*width_1
    print('area of given object is: ', area_of_object)

In [15]:
area_calc(3,6)

area of given object is:  9.0

In [16]:
def dynamic_input_parameter(*input_nums):
    print('welcome to dynamic_input_parameter function ')
    print(' input_nums 1: ', input_nums[1])
    print(' input_nums 2: ', input_nums[2])

In [17]:
dynamic_input_parameter(0, 1, 2)

welcome to dynamic_input_parameter function
 input_nums 1:  1
 input_nums 2:  2

In [18]:
dynamic_input_parameter(0, 1, 2, 3, 4,5,6)

welcome to dynamic_input_parameter function
 input_nums 1:  1
 input_nums 2:  2

In [19]:
# pass statement 

def my_new_function(*params_info):
    pass

In [20]:
def display_string_info(input_str):
    for in_char in input_str:
        print(in_char)

In [21]:
display_string_info('welcome')

w
e
l
c
o
m
e

In [22]:
# assert feature will help us to perform base unit test

In [25]:
# recursion example: invoking same function within the function block. 

def my_recur(input_num):
    if(input_num > 0):
        output_num  = input_num * my_recur(input_num-1)
    else:
        output_num = 1
    print('Output info at current Iteration is: ', output_num)
    return output_num

In [26]:
my_recur(5)

Output info at current Iteration is:  1
Output info at current Iteration is:  1
Output info at current Iteration is:  2
Output info at current Iteration is:  6
Output info at current Iteration is:  24
Output info at current Iteration is:  120

120

In [34]:
# logic: read object_shape : 
# based on shape/type of object, identify parameters and define area calculation formula.

def area_of_given_object(object_shape, *in_params):
    print(' input object_shape : ', object_shape)
    
    if object_shape == 'Triangle':
        print('Traiangle area calculation block')
    elif object_shape == 'Square':
        print('Square area calculation block')
    elif object_shape == 'Rectangle':
        print('Rectangle area calculation block')
    else:
        print('Currently ', object_shape, ' type not supported')

In [35]:
area_of_given_object('Triangle')

 input object_shape :  Triangle
Traiangle area calculation block

In [36]:
area_of_given_object('Circle')

 input object_shape :  Circle
Currently  Circle  type not supported

In [39]:

def area_of_given_object(object_shape, *in_params):
    #print(' input object_shape : ', object_shape)
    area_output = 0
    
    if object_shape == 'Triangle':
        print('Traiangle area calculation block')
        area_output = (1/2)*in_params[0]*in_params[1]
        
    elif object_shape == 'Square':
        print('Square area calculation block')
        area_output = in_params[0]*in_params[0]
        
    elif object_shape == 'Rectangle':
        print('Rectangle area calculation block')
        area_output = in_params[0]*in_params[1]
        
    else:
        print('Currently ', object_shape, ' type not supported')

    print('Given object_type is : ', object_shape, ' : Area of the object is: ', area_output)

In [40]:
area_of_given_object('Triangle', 4, 8)

Traiangle area calculation block
Given object_type is :  Triangle  : Area of the object is:  16.0

In [41]:
area_of_given_object('Square', 6)

Square area calculation block
Given object_type is :  Square  : Area of the object is:  36

In [42]:
area_of_given_object('Rectangle', 6, 9)

Rectangle area calculation block
Given object_type is :  Rectangle  : Area of the object is:  54

In [43]:
area_of_given_object('Hexagon')

Currently  Hexagon  type not supported
Given object_type is :  Hexagon  : Area of the object is:  0

In [44]:
# lambda function:

# single line function

# arguments --> parameters

# define logic


# function_name = lambda param_1, param_2 : logic

In [45]:
# write a lamba function to calculate sum of given numbers



sum_lambda = lambda inpara_1, inpara_2 : inpara_1 + inpara_2

In [46]:
print(sum_lambda(2,6))

8

In [47]:
product_lambda = lambda inpara_1, inpara_2 : inpara_1 * inpara_2

In [48]:
print(product_lambda(3,6))

18

In [49]:
def product_output(inparam):
    return lambda inparam1 : inparam1 * inparam

In [51]:
print(product_output(6))

<function product_output.<locals>.<lambda> at 0x0000020ADB17F438>

In [52]:
def sum_output(inparam):
    return lambda inparam : inparam + inparam

In [53]:
print(sum_output(2))

<function sum_output.<locals>.<lambda> at 0x0000020ADB17F168>

In [55]:
mixed_lambda = lambda inpara_1, inpara_2, inpara_3 : inpara_1 + inpara_2 - inpara_3

In [56]:
print(mixed_lambda(8, 10, 4))

14

In [57]:
print(mixed_lambda(18, 210, 4))

224

In [58]:
# OOPS Concepts

# Polymorphism  : # overloading, overriding
# Encapsulation
# Inheritance

In [59]:
# Inheritance: Parents & Child 

# Encapsulation : Binding "Data (input parameters) & Its associated members" together at run time.